---
# tasks file for vmware_ubuntu_cloud_image

- name: ensure mandatory connection parameters are given
  fail:
    msg: "At least one of 'ssh_keys' and 'password' must be given"
  when: ssh_keys is undefined and password is undefined
  run_once: true

- name: deploy OVA file
  tags: deploy-ova
  vmware_deploy_ovf:
    hostname: "{{ vcenter_hostname | default(omit) }}"
    username: "{{ vcenter_username | default(omit) }}"
    password: "{{ vcenter_password | default(omit) }}"
    validate_certs: "{{ vcenter_validate_certs | default(omit) }}"
    datacenter: "{{ vmware_datacenter }}"
    datastore: "{{ vmware_datastore }}"
    resource_pool: "{{ vmware_resource_pool | default(omit) }}"
    networks: "{{ vmware_networks | default(omit) }}"
    allow_duplicates: no
    ova: "{{ ova_file }}"
    name: "{{ vm_guestname }}"
    properties:
      hostname: "{{ vm_hostname }}"
      user-data: "{{ lookup('template', 'user-data.j2') | b64encode }}"
    power_on: no
  delegate_to: localhost

- name: configure VM
  tags: configure-vm
  vmware_guest:
    hostname: "{{ vcenter_hostname | default(omit) }}"
    username: "{{ vcenter_username | default(omit) }}"
    password: "{{ vcenter_password | default(omit) }}"
    validate_certs: "{{ vcenter_validate_certs | default(omit) }}"
    name: "{{ vm_guestname }}"
    hardware: "{{ hardware | default(omit) }}"
    customvalues: "{{ customvalues | default(omit) }}"
    state: present
  delegate_to: localhost

- name: configure VM
  tags: configure-vm
  vmware_guest_disk:
    hostname: "{{ vcenter_hostname | default(omit) }}"
    username: "{{ vcenter_username | default(omit) }}"
    password: "{{ vcenter_password | default(omit) }}"
    validate_certs: "{{ vcenter_validate_certs | default(omit) }}"
    datacenter: "{{ vmware_datacenter }}"
    name: "{{ vm_guestname }}"
    disk: "{{ disk | default(omit) }}"
  delegate_to: localhost

- name: start VM
  tags: start-vm
  vmware_guest:
    hostname: "{{ vcenter_hostname | default(omit) }}"
    username: "{{ vcenter_username | default(omit) }}"
    password: "{{ vcenter_password | default(omit) }}"
    validate_certs: "{{ vcenter_validate_certs | default(omit) }}"
    name: "{{ vm_guestname }}"
    state: poweredon
    wait_for_ip_address: yes
  delegate_to: localhost

- name: gather vm facts
  vmware_guest_info:
    hostname: "{{ vcenter_hostname | default(omit) }}"
    username: "{{ vcenter_username | default(omit) }}"
    password: "{{ vcenter_password | default(omit) }}"
    validate_certs: "{{ vcenter_validate_certs | default(omit) }}"
    datacenter: "{{ vmware_datacenter }}"
    name: "{{ vm_guestname }}"
  delegate_to: localhost
  register: vm_facts

- name: use current IP address (from vm facts)
  set_fact:
    ansible_ssh_host: "{{ vm_facts.instance.ipv4 }}"

- name: apply static IP configuration
  include: configure-network.yml
  when: static_ip is defined

- name: gather host facts
  setup:

# vim: ts=2:sw=2:noautoindent:nosmartindent
