network:
  version: 2
  renderer: networkd
  ethernets:
    ens192:
      dhcp4: no
      dhcp6: no
      addresses:
        - {{ static_ipv4 }}/{{ netmask }}
      routes:
          - to: 0.0.0.0/0
            via: {{ gateway }}
            metric: 100
      nameservers:
{% if dns_search|length > 0 %}
        search:
{% for search in dns_search %}
          - {{ search }}
{% endfor %}
{% endif %}
        addresses:
{% for server in dns_servers %}
          - {{ server }}
{% endfor %}
